# Task 1

# Problem 1

In [1]:
print('First code in Jupyter notebook')

First code in Jupyter notebook

# Problem 2

# Program to print numbers between 2000 and 3200 which are divisible by 7 and not divisible by 5

In [20]:
divisible_num=7
non_divisible_num=5
start_range= (2000//divisible_num)*divisible_num + (2000%divisible_num) +(divisible_num- 2000%divisible_num)
end_range =(3200//divisible_num)*divisible_num+1
for i in range(start_range,end_range,divisible_num):
    if not i%non_divisible_num==0:
        print(i, end=',', flush=True)

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

# Problem 3

# Getting user input for the first and last name of a person. Print both of them in the reverse order with space between them

In [ ]:
# Case-1 printing both the first and second name with the characters in them reversed

In [27]:
first_name=input('')
last_name=input('')
print(' '.join([first_name[::-1],last_name[::-1]]))

venkatesh
satagopan
hsetaknev napogatas

In [29]:
# Case 2 print last-name first followed by first-name
print(' '.join([last_name,first_name]))

satagopan venkatesh

# Problem 4

# Print the volume of sphere of given diameter

In [33]:
diameter = 12
import math
radius=diameter/2

volume = (4/3)*math.pi*(radius**3)
print('The Volume of the sphere is {} cm3'.format(volume))

The Volume of the sphere is 904.7786842338603 cm3

# Task 2

# Problem 1

# Get sequences of comma seperated numbers and generate list out of it

In [41]:
numbers=input().split(',')

1,2,3,4,5

In [43]:
print(numbers)

['1', '2', '3', '4', '5']

In [44]:
# Method 2 
numbers=list(range(20))

In [45]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

# Problem 2

# Create a program to generate a * pattern

In [47]:
total_length=9
total_length+=1
for i in range(1,total_length):
    if i<=total_length//2:
        print('*'*i)
    else:
        print('*'*(total_length-i))

*
**
***
****
*****
****
***
**
*

# Problem 3

# Python program to reverse a word accepted from user input

In [49]:
string_input=input('')
print(string_input[::-1])

venkateshsatagopan
napogatashsetaknev

# Problem 4

# Python Program to print the string in the specified format

In [73]:
input_str="WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute india into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens"

# Make the string to list by sperating with commas

In [75]:
input_str=list(input_str.split(','))

In [80]:
input_str

['WE',
 ' THE PEOPLE OF INDIA',
 ' having solemnly resolved to constitute india into a SOVEREIGN',
 ' SOCIALIST',
 ' SECULAR',
 ' DEMOCRATIC REPUBLIC and to secure to all its citizens']

# Seperate the last item in the input_string with space

In [78]:
last_line=input_str[-1].split(' ')

In [90]:
last_line

['',
 'DEMOCRATIC',
 'REPUBLIC',
 'and',
 'to',
 'secure',
 'to',
 'all',
 'its',
 'citizens']

In [125]:
SpaceVar=' ';

In [127]:
print(''.join([(','.join(input_str[0:2])),',']))
print(''.join([SpaceVar*5,input_str[2],', !']))
print(''.join([SpaceVar*11,','.join(input_str[3:5]),',',' '.join(last_line[:3])]))
print(''.join([SpaceVar*13,' '.join(last_line[3:])]))

WE, THE PEOPLE OF INDIA,
      having solemnly resolved to constitute india into a SOVEREIGN, !
            SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
             and to secure to all its citizens